*{
    padding: 0;
    margin: 0;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    width: 97;
   height: 100vh;

}
.main-header-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 97vw;
}
.main-header{
    font-size: 50px;
    font-family: sans-serif;
    letter-spacing: 0.1cm;
    align-self: center;
}
span{
    font-size: 17px;
    font-family: "Roboto";
    text-shadow: 0px 3px 30px blue;
}
.span2{
    font-size: 50px;
    color:white;
    text-shadow: 0px 3px 30px rgb(193, 41, 152),
    0px 3px 30px  rgb(193, 41, 152);
    font-weight: bold;
    letter-spacing: 0.1cm;
}
.btn2{
    width: 130px;
    background-image: linear-gradient(to left, blue,cyan);
    height: 35px;
    border: none;
    border-radius: 10px;
    color:white;
    margin-top: 30px;
    margin-left: 440px;
    
}
.btn2:hover{
    box-shadow: 0px 3px 30px rgb(233, 35, 223);
}


.link3{
    text-decoration: none;
    color:white;
    font-size: 17px;
}
.watch-img{
    width: 700px;
 
}
.image-container{
    display: flex;
    flex-direction: column;
    align-items:center;
   
    width: 700px;
}
.watch-names{
    font-size: 15px;
    font-family: "Roboto";
    color: gray;
    padding-top: 10px;
}
.watch-model{
    font-size: 17px;
    padding-top: 10px;
}
.watch-price{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.icons-container{
display: flex;
justify-content: space-between;
align-items: center;
width: 400px;
padding-bottom: 35px;
}
.first-container{
    display: flex;
    align-items:center ;
    width: 80px;
    background-color: lightgray;
    border-radius: 15px;
    height: 30px;
    padding: 5px;
}
.tags{
    margin-left: 10px;
}

@media (max-width:576px){
    .home-container{
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    .main-header-container{
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-header{
        font-size: 28px;
        align-self: center;
    }
    span{
        font-size: 13px;
    }
    .span2{
        font-size: 28px;
    }
    .btn2{
        margin-left: 10px;
        align-self: flex-start;
    }
    .image-container{
        width:90%;

    }
    .icons-container{
        padding-left: 100px;
    }

}