
*{
margin:0;
padding:0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98vw; 
  margin-bottom: 30px;
  animation: header 0.5s 1 forwards;

}
.logo-container {
  display: flex;
  align-items: center;
 
}
.collection-container {
  font-family: 'Roboto';
  border: none;
  font-size: 15px;

}
.option {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;

}

.link2{
  text-decoration: none;
}
.shopLink{
  font-size: 23px;
  font-weight: bold;
  font-family: "Roboto";
}
.shopLink:hover{
  font-size: 25px;
}


.logo-head {
  font-size: 17px;
  text-shadow:
    0px 3px 20px rgb(224, 66, 169),
    0px 3px 20px rgb(215, 57, 197);
}

@keyframes header {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
.nav-links{
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:576px){
  .header-container{
    width: 92vw;
    padding: 20px;
  }
  .collection-container{
    display: none;
  }
  .nav-links{
    padding-left: 300px;
  }
  .shopLink{
    padding-right: 20px;
  }
}
