/* src/App.css */
.app {
  padding: 20px;
  background: azure;
  display: flex;
  flex-direction: column;
  align-items:space-between;
  justify-content: center;
  
}
h1{
  text-align: center;
  color:white;
  text-shadow: 0px 3px 30px blue, 0px 3px 20px blue;
  animation:heads 1.2s 1 forwards ;
}
.head2{
  animation:head 2 1 forwards ;
}

@keyframes head {
  from{
    transform: translateY(-300px);
  }
  to{
    transform: translateY(0px);
  }
  
}

@keyframes heads {
  from{
    transform: translateY(-300px);
  }
  to{
    transform: translateY(0px);
  }
  
}

.heading{
  color:white;
  text-shadow: 0px 3px 20px rgb(230, 18, 198),
  0px 3px 10px rgb(230, 18, 198);
  animation:one 1s 1 forwards;
}

.table {
  display: flex;
  flex-direction: column;
 align-items: center;
}

.table-row {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  width: 95%;
 
}
hr{
  margin-top: 30px;
  margin-bottom: 30px;
}

.column {
  margin-right: 20px;
  box-shadow: 0px 3px 20px gray;
  border-radius: 10px;
  padding: 10px;
  width: 550px;
  animation:col1 1s 1 forwards;
  background: white;
}
.column2{
  margin-right: 20px;
  width: 250px;
  box-shadow: 0px 3px 20px gray;
  border-radius: 10px;
  width: 800px;
  padding: 10px;
  padding-bottom: 30px;
  animation:col2 1s 1 forwards;
  background-color: white;
}

.add-new-item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.add-new-item input {
  width: 80%;
  padding: 5px;
}

.add-new-item button {
  width: 18%;
  padding: 5px;
  background-image:linear-gradient(to left, rgb(170, 22, 49) ,rgb(14, 35, 195));
  border-radius: 10px;
  border: none;
  color:white;
}

.add-new-item:hover{
  box-shadow: 0px 3px 20px lightgray;
}

.add-row-btn {
  padding: 10px 20px;
  background-image:linear-gradient(to left, cyan ,rgb(215, 28, 225));
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 150px;
  align-self: flex-end;
  border-radius: 10px;
}
.add-row-btn:hover{
  box-shadow: 0px 3px 30px gray;
}


.add-row-btn:hover {
  background-color: #45a049;
}
Select{
  width: 300px;
}
.inputEl{
  width: 400px;
}
@keyframes col1 {
  from{
    transform: translateX(-100px);
  }
  to{
    transform: translateX(0px);
  }
  
}
@keyframes col2 {
  from{
    transform: translateY(-200px);
  }
  to{
    transform: translateY(0px);
  }
  
}
.spanEl{
  color:white;
  text-shadow: 0px 3px 20px rgb(18, 38, 217),0px 3px 30px rgb(25, 60, 202);
  animation:span1 1s 1 forwards;
}
.spanEl2{
  color:white;
  text-shadow:0px 3px 20px rgb(230, 18, 198),
  0px 3px 10px rgb(230, 18, 198);
  animation:span2 1s 1 forwards;
}

@keyframes span1 {
  from{
    transform: translateY(-200px);
  }
  to{
    transform: translateY(0px);
  }
  
}

@keyframes span2 {
  from{
    transform: translateX(1000px);
  }
  to{
    transform: translateX(0px);
  }
  
}

@keyframes one {
  from{
    transform: translateY(-300px);
  }
  to{
    transform: translateY(0px);
  }
  
}